Checks:
  - -*
  - boost-*
  - bugprone-*
  - clang-analyzer-*
  - cppcoreguidelines-*
  - modernize-*
  - performance-*
  - readability-*
  - -modernize-use-trailing-return-type
  - -performance-enum-size
  - -*-magic-numbers
  - -readability-identifier-length
  - -readability-function-cognitive-complexity
  - -*-avoid-const-or-ref-data-members
  - -*-rvalue-reference-param-not-moved
  - -*-use-constraints # C++20
  - -*-use-designated-initializers # C++20

FormatStyle: file

CheckOptions:
 - { key: cppcoreguidelines-avoid-do-while.IgnoreMacros, value: true }
 - { key: readability-braces-around-statements.ShortStatementLines, value: 3 }
 - { key: readability-implicit-bool-conversion.AllowPointerConditions, value: true }
 - { key: readability-implicit-bool-conversion.AllowIntegerConditions, value: true }
 - { key: cppcoreguidelines-special-member-functions.AllowImplicitlyDeletedCopyOrMove, value: true }
 - { key: cppcoreguidelines-special-member-functions.AllowMissingMoveFunctionsWhenCopyIsDeleted, value: true }

HeaderFilterRegex: '.*/(src/.*|include/.*)[.]hpp'
